th,
td {
    height: 30px;
    vertical-align: center;
    text-align: center;
    padding: 10px;
    width: 5%;
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: center;
    
}

th {
    font-size: 24px;
    padding: 8px;
    text-align: center;
    
}

.dataTable {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    border: 2px solid black;
}

tr:nth-child(even) {
    background: rgb(98, 178, 209);
}

thead tr {
    background: rgb(161, 167, 162);
    color: rgb(14, 4, 4);
    text-align: center;
}

.heading {
    font-size: 32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1%;
}

.anchorlist {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.anchorlist a {
    color: rgb(22, 27, 17);
    background-color: rgb(174, 171, 182);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    justify-items: 40px space-between;
}

.anchorlist a:hover {
    background: rgb(32, 110, 80);
}